@media only screen and (max-width: 767px)
  {
    .col-md-3{
      height: 80px;
      overflow:scroll;
      // background-color: red!important;
    }
  }
  
@media only screen and (min-width: 412px)
{
  .col-md-9{
    margin-top: -230px;
  }
}
@media only screen and (min-width: 767px)
{
  .col-md-9{
    margin-top: 50px!important;
  }
}