@media only screen and  (max-width: 767px){
      ul{
        padding:5px!important;
        li{
          display: inline;
        }
      .social{
        margin:30px 0px!important;
      }
     }
  }
    