<div class="row">
    <div class="col-md-3 col-lg-2">
        <app-side-menu></app-side-menu>
    </div>

    <div class="col-md-9 col-lg-10 pt-5">
        <div class="optionsBar d-flex justifiy-content-between flex-wrap mb-3">
            <span class="mr-4 mb-2">HR User</span>
            <span class="mr-4 mb-2">Lanuage </span>
            <div class="btn-group">
                <button #english type="button" class="btn english" (click)="activeBtn(english.title)" title="english"
                    [class.active]='englishBtn'>English</button>
                <button #arabic type="button" class="btn arabic" (click)="activeBtn(arabic.title)" title="arabic"
                    [class.active]='arabicBtn'>عربي</button>
            </div>
            <i class="material-icons">mail_outline</i>
            <i class="material-icons">help_outline</i>
            <i class="material-icons">settings</i>
            <i class="material-icons">arrow_drop_down</i>
        </div>

        <div class="d-flex justifiy-content-between optionsBtn">
            <button type="button" class="btn d-flex justifiy-content-between">
                <i class="material-icons">add_circle_outline</i>
                <span> Employee </span>
            </button>
            <button type="button" class="btn d-flex justifiy-content-between" data-toggle="modal"
                data-target="#filterModal">
                <i class="material-icons">add_circle_outline</i>
                <span> Add Filter </span>
            </button>
            <button type="button" class="btn d-flex justifiy-content-between">
                <span> Export </span>
                <i class="material-icons">file_download</i>
            </button>
        </div>

        <div class="form-group">
            <input class="form-control" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </div>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
                <!-- name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.fullName_FL | slice:0:15}} </td>
                </ng-container>

                title Column
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> title </th>
                    <td mat-cell *matCellDef="let row"> {{row.position.name_FL}} </td>
                </ng-container>

                <!-- hiringDate Column -->
                <ng-container matColumnDef="hiring date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hiring Date </th>
                    <td mat-cell *matCellDef="let row"> {{row.hiringDate | date:'dd/MM/yyyy'}} </td>
                </ng-container>

                <!-- firstContractingSalary Column -->
                <ng-container matColumnDef="salary">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> first Contracting Salary </th>
                    <td mat-cell *matCellDef="let row"> {{row.firstContractingSalary}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="filterModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Filter</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form [formGroup]="filterForm" class="m-5 " (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="sel1">filter by :</label>
                        <select class="form-control" formControlName="filterBy"
                            (change)="getValueOfFilterBy($event.target.value)">
                            <option selected value="" disabled>Filter By</option>
                            <option value="hiringDate">hiring date</option>
                            <option value="firstContractingSalary">salary</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sel1">type of filter:</label>
                        <select class="form-control" formControlName="filterType"
                            (change)="getValueOfFilterType($event.target.value)">
                            <option selected value="" disabled>Select type</option>
                            <option value="after"> after</option>
                            <option value="before">before</option>
                            <option value="between">bettween</option>
                        </select>
                    </div>
                    <ng-container *ngIf="typeOfFilterValue == 'between'">
                        <div class="form-group">
                            <label>from:</label>
                            <input *ngIf="filterByValue ==''" type="text" class="form-control" formControlName="from">
                            <input *ngIf="filterByValue == 'date'" type="date" class="form-control"
                                formControlName="from">
                        </div>
                        <div class="form-group">
                            <label>to:</label>
                            <input *ngIf="filterByValue ==''" type="text" class="form-control" formControlName="to">
                            <input *ngIf="filterByValue =='date'" type="date" class="form-control" formControlName="to">
                        </div>
                    </ng-container>
                    <ng-container *ngIf="typeOfFilterValue == ''">
                        <div class="form-group">
                            <label for="usr">value:</label>
                            <input *ngIf="filterByValue ==''" type="text" class="form-control" formControlName="value">
                            <input *ngIf="filterByValue =='date'" type="date" class="form-control"
                                formControlName="value">
                        </div>
                    </ng-container>
                    <div class="text-right">
                        <input class="btn btn-primary" type="submit" value="Filter" [disabled]="!filterForm.valid">
                    </div>
                </form>
                <ng-container>
                    <button id="closeModal" type="button" class="btn btn-danger" data-dismiss="modal"
                        hidden>Close</button>
                </ng-container>
            </div>
        </div>
    </div>
</div>