@import '../../mediaQ/homeMediaQ.scss';
.row{
    width: 100%; 
    height: 100%;
    margin:0;
    .col-md-3{
      margin:0px;
      padding:0px;
      background-color: #95c9d4;
    }
    .col-md-9{
      .optionsBar{
        .btn-group{
          height: 30px;
          border-radius: 5px;
          border: 1px solid #62c2d8;
          font-size: 10px;
          margin: -5px 20px 0px 0px; 
          button{
            line-height: 15px;
          }
        }
        i{
          font-size: 20px;
          margin-right:10px
        }
      }
      .optionsBtn{
        button{
          margin: 5px 5px 5px 0;
          border-radius: 5px;
          border: 2px solid #62c2d8;
          i{
             padding: 0px 5px;
             font-size: 20px;  
          }
        }
      }
      table {
        width: 100%;
        .mat-form-field {
          font-size: 14px;
          width: 100%;
        }
        td, th {
          width: 25%;
        }
      }
    }
}
// make button active when clicked arabic or english
.active{
  background-color: rgb(209, 204, 204);
}

  

  