<ul class="nav list-group">
    <li class="list-group-item">
        <a class="list-group-link" href="#">
            <i class="material-icons">home</i>
            Home
        </a>
    </li>
    <li class="list-group-item">
        <a class="list-group-link" href="#">
            <i class="material-icons">attach_money</i>
            payroll
        </a>
    </li>
    <li class="list-group-item">
        <a class="list-group-link" href="#">
            <i class="material-icons">list</i>
            My Payslip
        </a>
    </li>
    <li class="list-group-item">
        <a class="list-group-link" href="#">
            <i class="material-icons">dns</i>
            My Loans
        </a>
    </li>
    <li class="list-group-item">
        <a class="list-group-link " href="#">
            <i class="material-icons">assignment_ind</i>
            My Profile
        </a>
    </li>
    <li class="list-group-item">
        <a class="list-group-link" href="#">
            <i class="material-icons">report</i>
            Reports
        </a>
    </li>
    <li class="list-group-item">
        <a class="list-group-link " href="#">
            <i class="material-icons">settings</i>
            Setting
        </a>
    </li>
    <li class="list-group-item social mt-5">
        <i class="fa fa-twitter-square mr-4"></i>
        <i class="fa fa-facebook-official mr-4"></i>
        <i class="fa fa-linkedin-square"></i>
    </li>
</ul>