@import '../../mediaQ/navMediaQ.scss';
ul.nav{
    padding-top: 100px;
    height: 100%!important;
    li{
      background-color: #95c9d4;
      border: none;
      a{
        color:#000;
        padding-top:30px;
        &:hover{
          color:blue;
          padding-left : 5px;
          text-decoration: none;
        }
       }
      i{
        font-size: 15px;
      }
    }
  }